/* GLOBAL STYLES */
*, *::before, *::after {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.clear {

	clear: both;

}

.clearfix::after,
.clearfix::before {

	content: "";
	display: block;
	clear: both;

}

.container, #latest-works, #bottom-content, #download {
	margin: 0 auto;
	width: 1000px;
}

body {
	font-family: Arial, sans-serif;
}

.bold-text {
	font-weight: bold;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


.blue-text {
	color: #2aacc8;
	font-size: 15px;
}


/*Header*/
#header {
	background: #e8ebf1;
	height: 120px;
	display: flex;
	align-items: center;
}

h1 {
	margin-right: auto;
}


/*MAIN NAVIGATION*/
#main-menu  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    flex-direction: row;
	padding-bottom: 54px;
}


#main-menu > ul  {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
    justify-content: space-between;
}

#menu-toggle, .menu-button-container {
    display: none;
}

.main-menu-first {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 8px;
    position: relative;
    text-transform: uppercase;
}

.main-menu-first:hover {
    border-top: 5px solid #2aacc8;
}

.with-dropdown {
    position: relative;
}

.with-dropdown li a {
    display: flex;
}

.with-dropdown ul {
    background: #fff;
    border-bottom: 5px solid #2aacc8;
    padding: 12px 0;
    position: absolute;
    top: 24px;
    visibility: hidden;
    width: 197px;
    z-index: 2;
}
.with-dropdown ul::before {
    content: ''; 
    position: absolute; 
    top: -5px; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: #fff; 
    z-index: -1; 
}

.first-list:hover.first-list ul {
    visibility: visible;
}

.with-dropdown .main-menu-first {
    background: url(../img/arrow-down.png) no-repeat 92%;
    padding-right: 23px;
}

.with-dropdown:hover .main-menu-first {
    background: #fff url(../img/arrow-down.png) no-repeat 92%;
    border-top: 5px solid #2aacc8;
    color: #2aacc8;
}

.second-list {
    position: relative;
    z-index: 1;
    margin: 0 5px;
    padding: 10px;
    
}

.second-list-border {
    border-bottom: 1px solid #e7e7e7;
}

.main-menu-second {
    color: #000;
    font-size: 13px;
}

.main-menu-second:hover {
    color: #2aacc8;
}

.main-menu-second:active, .main-menu-second:visited {
    border-top: 5px solid #2aacc8;
}



/*SLIDESHOW*/
#slideshow-container {
    position: relative; 

}

#slideshow-container > ul > li > img {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

#slideshow-area {
    background: #81e4ed;
    border-top: 1px solid #6ec2ca;
    padding: 19px 0 28px 0;

}


#slideshow-dots ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;

}

#slideshow-dots li {
    margin: 0 9px;
    width: 12px;
    height: 12px;
    background-color: #000000f6;
    border-radius: 50%;
    
}

#current  {
    background-color: #fff;
    width: 100%; 
    height: 100%; 
    display: block;
    border-radius: 50%;
}

/*FOR MIDDLE CONTENT*/

#mid-content {
    border-bottom: 1px solid #d9d9d9;
    background: #e8ebf1;
    height: 330px;
}


#mid-content > ul  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.mid-content-info {
    font-size: 13px;
    margin-top: 60px;
    width: 220px;
    display: flex; 
	flex-wrap: wrap;
    flex-direction: column; 
}


.mid-content-info h2 {
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    margin-bottom: 15px;
    padding: 12px 0 40px 0;
	vertical-align: middle; 
}

.mid-content-info p {
    color: #363636;
    line-height: 20px;
    margin-bottom: 22px;
}

.mid-content-info a {
    color: #2aacc8;
}

.mid-content-info a img {
    margin: 0 8px 1px 0;
}

.mid-content-info a:hover {
    text-decoration: underline;
}

.mid-content-space {
    margin-right: 40px;
}


#clean:before {
    content: "";
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background: url(../img/icon\ \(1\).jpg) no-repeat left;
    background-size: cover; 
	mix-blend-mode: multiply;
	vertical-align: middle; 
	margin-right: 10px;
}

#responsive:before {
    content: "";
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background: url(../img/icon\ \(2\).jpg) no-repeat left;
    background-size: cover; 
	mix-blend-mode: multiply;
	vertical-align: middle; 
	margin-right: 10px;
}

#fully:before {
    content: "";
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background: url(../img/icon\ \(3\).jpg) no-repeat left;
    background-size: cover; 
	mix-blend-mode: multiply;
	vertical-align: middle; 
	margin-right: 10px;
}

#ready:before {
	content: "";
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background: url(../img/icon\ \(4\).png) no-repeat left;
    background-size: cover; 
	mix-blend-mode: multiply;
	vertical-align: middle; 
	margin-right: 10px;
}

/*WORK*/
#latest-works h3:before {
	content: "";
    display: inline-block;
    width: 25px; 
    height: 25px; 
    background: url(../img/pointer.png) no-repeat left;
	background-size: contain;
	vertical-align: middle; 
	margin-right: 10px;
}


#latest-works h3 {

    font-size: 15px;
    font-weight: bold;
    margin: 19px 0 15px 0;
	vertical-align: middle; 
}

#latest-works > ul {
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
    align-items: center;
	border-bottom: #363636;
}


#work-nav {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
    margin-top: 20px;
}

#work-nav a {
    margin-left: 6px;
}

#work-wrapper {
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
	height: 220px;
}

#work-wrapper > ul {
    display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}


#work-wrapper li {
    margin: 30px 0;
}



#work-wrapper li {
    height: 160px;
    position: relative;
    width: 220px;
}

#work-wrapper li a::before {
	content: "";
	z-index: 9;
    display: block;
    width: 100%; 
    height: 80px; 
	background-color: #2aacc8;
    background-size: contain; 
	position: absolute;
	bottom: 0;
	visibility: hidden; 
	opacity: 0;
	transition: all 0.3s ease; 
}

#work-wrapper li a::after{
	content: "";
	z-index: 10;
	display: block;
	width: 100%;
	height: 80px;
	background: url(../img/eye.png) no-repeat left, url(../img/chain.png) no-repeat right;
	background-position: 30% 50%, 70% 50%;
	background-size: 40px; 
	position: absolute;
	bottom: 0;
	opacity: 0;
	visibility: hidden; 
	transition: all 0.3s ease-in-out; 
}

#work-wrapper li:hover a::before,
#work-wrapper li:hover a::after {
	opacity: 1;
	visibility: visible; 
}

#bottom-content > ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#testimonials {
    width: 430px;
}

#testimonials h3:before {
	content: "";
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background: url(../img/bubble.jpg) no-repeat left;
	background-size: contain;
	vertical-align: middle; 
	margin-right: 10px;
}

#testimonials h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 19px 0 15px 0;
	vertical-align: middle; 
}

#testimonials p {
    color: #363636;
    font-size: 14px;
    line-height: 24px;
}

.testimonial-name {
    font-style: italic;
    font-weight: bold;
}

#clients {
  
    margin-bottom: 40px;
}

#clients h3:before {
	content: "";
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background: url(../img/user.png) no-repeat left;
	background-size: contain;
	vertical-align: middle; 
	margin-right: 10px;
}

#clients h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 19px 0 15px 0;
	vertical-align: middle; 
}

#clients ul {
    background: #e8ebf1;
    height: 200px;
    width: 480px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#clients img {
    margin-bottom: -3px;
}

#download {
    background: #a2dee3;
    border: 1px solid #3a8a91;
    padding: 30px 30px;
}

#download > ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

#download p {
    color: #333333;
    font-size: 16px;
    line-height: 26px;
    width: 608px;
}

#download a:before {
	content: "";
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background: url(../img/arrow-download.png) no-repeat left;
	background-size: contain;
	vertical-align: middle; 
	margin-right: 15px;
}

#download a {
    display: block;
    color: #191818;
    font-size: 18px;
    font-weight: bold;
	
    padding: 10px;
    width: 230px;
	background: linear-gradient(180deg, rgb(104, 132, 136) 0%, rgb(98, 174, 182) 2%, rgba(116,217,229,1) 3%, rgba(45,174,202,1) 100%);
	border-radius: 5px;
	border: #67b3c5 2px solid;
	
	box-shadow: 1px 4px 15px -7px rgba(0,0,0,0.75);
	

}


/*FOOTER*/

#footer {
	background: #e8ebf1;
	border-top: 1px solid #d9d9d9;
	margin-top: 40px;
}

#footer > div > ul{
	background: #e8ebf1;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

#footer p, #footer a {
	color: #363636;
	font-size: 14px;
}

#footer-about {
	width: 238px;
}


#bottom-footer {
	padding-bottom: 30px;
}

#footer h4 {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 21px 0;
}

.footer-info {
	margin: 32px 0 40px 0;
}

#footer-about, #footer-explore, #footer-browse {
	margin-right: 64px;
	flex: 1 1 238px;
}

#footer-about p, #footer-contact p, #copyright {
	line-height: 17px;
}

#footer-explore li, #footer-browse li {
	margin: 12px 0;
}

#footer-explore li a, #footer-browse li a {
	text-transform: capitalize;
}

#footer-explore li a:hover, #footer-browse li a:hover {
	color: #2aacc8;
}

#footer-connect {
	width: 213px;
}

#footer-connect > ul {
	display: flex;
	flex-wrap: wrap;
}

#footer-connect h4 {
	margin-left: 24px;
}

#footer-connect a {
	display: block;
	height: 51px;
	margin: 0 0 10px 18px;
	width: 53px;
}

#facebook {
	background: url(../img/social\ \(1\).png) no-repeat;
}

#dribbble {
	background: url(../img/social\ \(2\).png) no-repeat;
}

#pinterest {
	background: url(../img/social\ \(3\).png) no-repeat;
}

#linkedin {
	background: url(../img/social\ \(4\).png) no-repeat;
}

#skype {
	background: url(../img/social\ \(5\).png) no-repeat;
}

#sharethis {
	background: url(../img/social\ \(6\).png) no-repeat;
}

p#copyright {
	font-size: 13px;
}

#footer-logo {
	background: url(../img/bislite-logo.png) no-repeat;
	display: block;
	height: 39px;
	width: 150px;
}

#menu-toggle{
    display: none;
}

#toggle {
    display: none;
}



/* RESPONSIVE SETTINGS */
@media screen and (max-width: 1000px) {

 	
	.container, #latest-works, #bottom-content, #download {
		margin: 0 auto;
		width: 100%;

	}

	#footer,#main-menu,#latest-works, #bottom-content, #download {
		margin: 0 auto;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#bottom-footer {
		justify-content: space-around;
	}

	#footer-logo{
		width: 100%;
		z-index: 98;
	}

	#mid-content {
		height: auto;
		padding: 20px;
	}

	#mid-content > ul {
		justify-content: space-around;
	}

	#work-wrapper {
		height: auto;
	}

	#work-wrapper > ul {
		width: 100%;
        height: auto;
        justify-content: space-around;
	}

    #work-wrapper > ul > li a {
		width: 100%;
	}

    #testimonials {
        width: 100%;
    }

    #clients ul {  
        height: auto; 
        width: 100%;
        justify-content: center;
        gap: 5px;
    }

    #clients ul > li > img {  
        width: 100%;
    }


	#footer{
		height: auto;
		margin-top: 20px;
	}

    #download > ul {
        width: 100%;
        justify-content: center;
    }

    #download > ul > li > * {
        width: 100%;
    }

    #download > ul > li > a {
        margin-top: 20px;
    }


  #footer-connect {
    width: 100%;
  }


  #footer-connect h4 {
    margin-left: 0;
    margin-bottom: 10px;
  }

  #footer-connect a {
    margin: 0 10px 10px 0;
  }

  #footer-logo {
    margin-top: 20px;
    background-size: contain;
  }
  
}

@media screen and (max-width: 820px) {

    .first-list a{
        font-size: 70%;
    }

    #main-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    
    #clients > ul > li  {
        flex-grow: 1;
        min-width: 25%;
    }
}   

@media screen and (max-width: 600px) {

    #header {
        height: auto;
        padding: 20px;
    }

    .main-nav, #menu-toggle, .menu-button-container{
        margin-top: -35px;
        margin-bottom: -55px;
    }

    .first-list a{
        font-size: 80%;
    }

    #main-menu > .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    #main-menu  {
        align-items: flex-start;
    }
    .menu-logo-stack > #toggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        visibility: visible;
    }
    .first-list:hover.first-list ul {
        visibility: visible;
        position:relative;
    
    }
    .with-dropdown ul {
        position: absolute;
        top: 0;
    }
    .menu {
        padding-top: 10px;
    }
    #menu-toggle {
        opacity: 0;
    }
    
    #logo {
        margin-left: 20%;
    }

    .menu-button-container {
        display: flex; 
        align-items: center;  
        position: absolute;
        top: 80px;
        left: 3%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        margin-left: 10px;
    }
    
    .menu-button-container > span,
    .menu-button-container > span::before,
    .menu-button-container > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #000000;
        transition: 0.3s;
    }
    .menu-button-container > span::before {
        content: '';
        top: -8px;
    }
    .menu-button-container > span::after {
        content: '';
        top: 8px;
    }
    
    .menu {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0.3s;
    }

    #menu-toggle:checked ~ .menu {
        height: 100%;
        opacity: 1;
    }
    
}

@media screen and (max-width: 580px) {

    .mid-content-info {
        font-size: 13px;
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #footer-about {
        width: 100%;
    }

    .mid-content-space {
        margin-right: 0px;
    }

    #mid-content  {
        padding-bottom:50px;
    }
    
}


@media screen and (max-width: 465px) {
    #work-wrapper > ul {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    #work-wrapper li {
        margin: 20px 0; 
    }

    #work-wrapper > ul > li > a > img  {
        width: 100%;
        height: auto;
        gap: 20px;
    }

    #work-wrapper > ul > li > a   {
        width: 100%;
        height: auto;
    }

    #work-wrapper > ul > li  {
        flex-grow: 1;
    }
}

